body {
font-family:Arial, Helvetica, sans-serif;
margin: 0 auto;
padding: 20px;
line-height: 1.6;
text-align: justify;
}

h1 {
text-align: center;
color: aquamarine;
}

h2 {
    text-align: center;
    color: cornflowerblue;
}

h3 {
text-align: center;
color: darkcyan;
}

.subtitulo {
    text-align: center;
    font-size: 20px;           
    font-weight: 800;
    font-family:Arial, Helvetica, sans-serif;
    color: crimson;
}

.caja {
    width: 1000px;
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin: auto;
}

.box {
    width: 500px;
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    margin: auto;
}

.box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
